* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.center {
  padding-left: calc(50vw - 155px);
  padding-right: calc(50vw - 155px);

  @media screen and (min-width: 767px) {
    padding-left: calc(50vw - 324px);
    padding-right: calc(50vw - 324px);
  }
  @media screen and (min-width: 1020px) {
    padding-left: calc(50vw - 452px);
    padding-right: calc(50vw - 452px);
  }
  @media screen and (min-width: 1440px) {
    padding-left: calc(50vw - 660px);
    padding-right: calc(50vw - 660px);
  }
  @media screen and (min-width: 1920px) {
    padding-left: calc(50vw - 800px);
    padding-right: calc(50vw - 800px);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main{
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5789;
  color: #000000;
}
.container {
  padding-left: calc(50vw - 157px);
  padding-right: calc(50vw - 157px);

  @media screen and (min-width: 767px) {
    padding-left: calc(50vw - 324px);
    padding-right: calc(50vw - 324px);
  }
  @media screen and (min-width: 1020px) {
    padding-left: calc(50vw - 452px);
    padding-right: calc(50vw - 452px);
  }
  @media screen and (min-width: 1440px) {
    padding-left: calc(50vw - 540px);
    padding-right: calc(50vw - 540px);
  }
  @media screen and (min-width: 1920px) {
    padding-left: calc(50vw - 680px);
    padding-right: calc(50vw - 680px);
  }
}