.main-gradient{
  background: var(--supersoft-gradient);
  border-radius: 0 0 12px 12px;
  position: relative;
  color: var(--text-color);
  padding-bottom: 60px;

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 10px;
    width: calc(100% - 40px);
    margin: 0 auto;
    background-color: #CACADB;
    border-radius: 0 0 12px 12px;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 10px;
    width: calc(100% - 80px);
    margin: 0 auto;
    background-color: #E7E7F2;
    border-radius: 0 0 12px 12px;
  }
}