.publications{
  padding-top: 30px;
  background-color: var(--bg-grey-color);
  &__title{
    margin: 30px 0;
  }
  & .articles{
    display: grid;
    gap: 30px;
  }
  & .article{
    background-color: var(--text-color);
    border-radius: 8px;
    & .article__img1_281{
      display: none;
    }
    & .article__img1_513{
      display: none;
    }
    & .article__img2_281{
      display: none;
    }
    & .article__img2_513{
      display: none;
    }
    & .article__img3_648{
      display: none;
    }
    & .article__img3_513{
      display: none;
    }
    & .article__img3_281{
      display: none;
    }


    &__body {
      margin: 30px;
      & .article__desk {
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        position: relative;
        margin: 0;
        &:before {
          content: '';
          width: 100%;
          top: -15px;
          height: 4px;
          background: #E6E6F0;
          position: absolute;
        }
      }
        & .article__link_title{
          margin: 0;
        }
      }
      & .article__data{
        margin: 15px 0 30px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--text-grey-color);
      }
    }
  @media screen and (min-width: 767px){
    & .articles{
     grid-template-columns: 309px 309px;
      grid-template-rows: 514px 388px;
      justify-content: space-between;
      & .article{
        & .article__img1_281{
          display: block;
        }
        & .article__img1{
          display: none;
        }
        & .article__img2_281{
          display: block;
        }
        & .article__img2{
          display: none;
        }
      }
      & .article3 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        & .article__img3{
          display: none;
        }
        & .article__img3_648 {
          display: block;
          width: 100%;
        }
        & .article__img3_281{
          display: none;
        }
      }
    }
  }
  @media screen and (min-width: 1020px){
    &__title{
      margin-top: 10px;
    }
    & .articles {
      display: flex;
      & .article3 {

        & .article__img3_648 {
          display: none;
        }
        & .article__img3_281{
          display: block;
        }


      }
    }
  }
}