.team{
    &__body{
        background: var(--bg-grey-color);
        border-radius: 12px;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 30px;

        & .team__photo{
            margin-bottom: 30px;
            width: 315px;
            height: 500px;
            background-image: url("../../img/team-1.png");
            background-position: center;
            background-repeat: no-repeat;

        }
        & .excerption{
            margin-top: 5px;
            margin-bottom: 30px;
            padding: 0 30px;
            word-wrap: break-word;
        }
        &_manager-name{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: var(--text-grey-color);
            margin: 30px 0 6px;
            padding: 0 30px;
        }
        &_manager{
            font-size: 14px;
            line-height: 22px;
            color: var(--text-grey-color);
            margin: 0;
            padding: 0 30px 30px;
        }
    }
    @media screen and (min-width: 767px) {
        &__body {
            margin-top: 80px;
            margin-bottom: 30px;
            & .team__photo{
                width: 648px;
                height: 500px;
                background-size: cover;
            }
            & .excerption{
                font-weight: 700;
                font-size: 38px;
                line-height: 46px;
            }
        }
    }
    @media screen and (min-width: 1020px){
        &__body{
            display: flex;
            gap: 30px;
            & .team__photo{
                width: 400px;
                height: 528px;
                margin: 0;
            }
            & .team__desk{
                width: 475px;
            }
            & .excerption{
                padding: 0 30px 0 0;
            }
        }
    }
    @media screen and (min-width: 1440px){
        &__body {
            & .team__photo {
                width: 400px;
                height: 344px;
            }
            & .team__desk{
                width: 860px;
                padding: 30px 0 0 0;
                & .excerption{
                    padding: 0;
                }
                &_manager-name{
                    margin: 30px 0 6px 0;
                }
                &_manager{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    @media screen and (min-width: 1920px){
        &__body {
            & .team__photo {
                width: 400px;
                height: 298px;
            }
            & .team__desk{
                width: 1140px;
            }
        }
    }
}


