.team{
    &__body{
        background: var(--bg-grey-color);
        border-radius: 12px;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 30px;

        & .team__photo{
            margin-bottom: 30px;
            text-align: center;
            & .img-375{
                display: block;
            }
            & .img-768{
                display: none;
            }
            & .img-1024{
                display: none;
            }
            & .img-1440{
                display: none;
            }
            & .img-1920{
                display: none;
            }
        }
        & .excerption{
            margin-top: 5px;
            margin-bottom: 30px;
            padding: 0 30px;
            word-wrap: break-word;
        }
        &_manager-name{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: var(--text-grey-color);
            margin: 30px 0 6px;
            padding: 0 30px;
        }
        &_manager{
            font-size: 14px;
            line-height: 22px;
            color: var(--text-grey-color);
            margin: 0;
            padding: 0 30px 30px;
        }
    }
    @media screen and (min-width: 767px) {
        &__body {
            margin-top: 80px;
            margin-bottom: 30px;
            & .team__photo{
                & .img-375{
                    display: none;
                }
                & .img-768{
                    display: block;
                    width: 100%;
                }
            }
            & .excerption{
                font-weight: 700;
                font-size: 38px;
                line-height: 46px;
                word-wrap: break-word;
            }
        }
    }
    @media screen and (min-width: 1020px){
        &__body{
            display: flex;
            gap: 30px;
            & .team__photo{
                margin: 0;
                & .img-768{
                    display: none;
                }
                & .img-1024{
                    display: block;
                }
            }
            & .excerption{
                padding: 0 30px 0 0;
                word-wrap: break-word;
            }
        }
    }
    @media screen and (min-width: 1440px){
        &__body {
            & .team__photo {
                & .img-1024 {
                    display: none;
                }

                & .img-1440 {
                    display: block;
                }
            }
            & .desk{
                padding: 30px;
            }
        }
    }
    @media screen and (min-width: 1920px){
        &__body {
            & .team__photo {
                & .img-1440 {
                   display: none;
                }
                & .img-1920{
                    display: block;
                }
            }
        }
    }
}


