.achievements{
  text-align: center;
  margin-top: 60px;
  background: var(--bg-grey-color);
  padding-top: 30px;
&__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0;
}
  &__body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__icon{
      width: 255px;
      height: 90px;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: var(--text-color);
      border-radius: 12px;
      background-repeat: no-repeat;
      background-position: center;
      &:nth-child(1){
        background-image: url("../img/about_us/achievment-1.png");
        background-size: 25%;
      }
      &:nth-child(2){
        background-image: url("../img/about_us/achievment-2.png");
        background-size: 80%;
        display: none;
      }
      &:nth-child(3){
        background-image: url("../img/about_us/achievment-3.png");
        background-size: 100%;
        display: none;
      }
      &:nth-child(4){
        background-image: url("../img/about_us/achievment-4.png");
        background-size: 90%;
        display: none;
      }
    }
  }
  @media screen and (min-width: 767px){
    &__body{
      gap: 40px;
      &__icon{
        width: 132px;
        height: 90px;
        &:nth-child(1){
          background-size: 45%;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4){
          display: block;
        }
      }
    }
    .btn-scroll{
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6){
        display: none;
      }
    }
  }
  @media screen and (min-width: 1020px){
    &__body{
      &__icon{
        width: 196px;
        height: 110px;
      }
    }
  }
  @media screen and (min-width: 1440px){
    &__body{
      &__icon{
        width: 300px;
        height: 110px;
        &:nth-child(1){
          background-size: 25%;
        }
        &:nth-child(2){
          background-size: 50%;
        }
        &:nth-child(3){
          background-size: 50%;
        }
        &:nth-child(4){
          background-size: 50%;
        }
      }
    }
  }
  @media screen and (min-width: 1920px){
    &__body {
      &__icon {
        width: 370px;
        height: 110px;
      }
    }
  }
}