.btn-lang{
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 1px;
  color: var(--text-color);
  background-color: transparent;
  border: transparent;
  border-radius: 8px;
  padding: 5px 7px;
  margin: -3px;
  &:hover{
    background: rgba(255, 255, 255, 0.2);
  }
  &:active,
  &__active{
    background: var(--accent-link-color);
  }
}
.btn-lang_white-bg{
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 1px;
  color: var(--text-grey-color);
  background-color: transparent;
  border: transparent;
  border-radius: 8px;
  padding: 5px 7px;
  margin: -3px;
  &:hover{
    background: var(--bg-grey-color);
  }
  &:active,
  &_active{
    background: var(--accent-link-color);
  }
}
.scroll {
  margin: 0 auto;
  cursor: pointer;
  &-btn {
    position: relative;
    &:before {
      content: '';
      width: 42px;
      height: 42px;
      border: 2px solid var(--text-color);
      border-radius: 50px;
      position: absolute;
      left: -23px;
      opacity: 0.5;
    }
    &:after {
      content: '';
      width: 12px;
      height: 12px;
      margin: 0 auto;
      border: solid var(--text-color);
      border-width: 0 0 3px 3px;
      position: absolute;
      left: -7px;
      top: 13px;
      transform: rotate(-45deg);
    }
    &:hover:before,
    &:active:before {
      border-color: var(--accent-link-color);
    }
    &:hover:after,
    &:active:after {
      border-color: var(--accent-link-color);
    }
  }
}

.btn-scroll{
  width: 16px;
  height: 16px;
  background-color: var(--regular-link-color);
  border: 1px solid var(--regular-link-color);
  border-radius: 50px;
  opacity: 0.5;
  margin: 0 14px;
  &:hover,
  &:active{
    opacity: 1;
  }
}
.btn-modal{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  width: 315px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 15px;
  color: var(--text-color);
  background-color: var(--regular-link-color);
  border: 1px solid var(--regular-link-color);
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  @media screen and (min-width: 1440px){
    width: 590px;
  }
}