.header {
  padding: 0 0 30px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../img/main-symbol.svg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  .header-main{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  &__top {
    padding:11px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(245, 245, 250, 0.2);
    grid-template-rows: 1 / 2;
    grid-column: 1 / 3;
    & .header__contacts{
      display: flex;
      align-items: center;
      gap: 18px;
      &_address{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--text-grey-color);
        position: relative;
        margin: 0;
        &:before{
          content: '';
          width: 6px;
          height: 6px;
          display: block;
          position: absolute;
          top: 30%;
          left: -13px;
          border: 1px solid var(--separator-grey-color);
          border-radius: 50px;
          background-color: var(--separator-grey-color);
        }
        &:after{
          content: '';
          width: 6px;
          height: 6px;
          display: block;
          position: absolute;
          top: 30%;
          right: -13px;
          border: 1px solid var(--separator-grey-color);
          border-radius: 50px;
          background-color: var(--separator-grey-color);
        }
      }
      &_tel{
          color: var(--text-color);
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          text-decoration: none;
        position: relative;
          &:hover {
            color: var(--accent-link-color);
          }
        }
      &_fb{
        position: relative;
        &:before{
          content: '';
          width: 6px;
          height: 6px;
          display: block;
          position: absolute;
          top: 32%;
          left: -13px;
          border: 1px solid var(--separator-grey-color);
          border-radius: 50px;
          background-color: var(--separator-grey-color);
        }
      }
      }
    }
  &__link{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-right: auto;
  }
  &__logo{
    position: relative;
    text-align: left;
    padding: 15px 15px 0;

    &:before{
      content: 'services';
      display: block;
      width: 80px;
      height: 24px;
      position: absolute;
      left: 104px;
      top: 30%;
      color: var(--text-color);
      z-index: 5;
    }
    &:after{
      content: '';
      display: block;
      width: 3px;
      height: 26px;
      position: absolute;
      background-color: var(--accent-link-color);
      transform: skew(-20deg);
      left: 90px;
      top: 25%;
    }
  }
  &__nav{
    margin-left: auto;
    padding-top: 20px;
    padding-right: 15px;
  }
  &__main-title{
    font-size: 38px;
    line-height: 46px;
    margin: 139px auto 159px;
    width: 60%;
  }
  .scroll{
    margin-bottom: 60px;
  }
  &__contacts_address,
  &__contacts_fb{
    display: none;
    & .link-fb{
        fill: var(--text-grey-color);
    }
  }
  @media screen and (min-width: 767px){
    padding: 0 60px;
    .header-main{
      display: flex;
      flex-direction: column;
      text-align: left;
       .header__logo{
        padding: 15px 0 0;
        &_img{
          width: 130px;
        }
        &:before{
          display: none;
        }
        &:after{
          display: none;
        }
      }
       .header__nav{
        margin-left: 0;
        padding-right: 0;
      }
    }
    &__top{
      background: none;
      justify-content: start;
      gap: 18px;
      align-content: center;
      padding-top: 52px;
      padding-right: 0;
      padding-left: 0;
    }
    &__contacts_address,
    &__contacts_fb {
      display: block;
      & .link-fb {
      &:hover,
      &:active {
        fill: var(--accent-link-color);
      }
    }
    }
    &__main-title{
      margin-top: 274px;
      margin-bottom: 417px;
      width: 100%;
    }
  }
  @media screen and (min-width: 1020px){
.header-main{
   position: relative;
  .header__top{
    justify-content: end;
    padding-top: 50px;
  }
  .header__logo{
   position: absolute;
    top: 50px;
  }
  & .header__nav{
    padding-top: 10px;

  }
}
    &__main-title{
      margin-top: 245px;
      margin-bottom: 289px;
      width: 100%;
    }
  }
  @media screen and (min-width: 1440px){
    .header__main-title{
      margin-top: 261px;
      margin-bottom: 305px;
    }
  }
  @media screen and (min-width: 1920px){
    padding: 0 160px;
    .header__main-title{
      margin-top: 362px;
      margin-bottom: 405px;
    }
  }
}





